.newField {
  position: relative;
  top: -66px;

  /* margin-left: 11px; */
  left: 50px;
  font-size: 0.9rem;
  color: #848b96;
  background-color: white;
  pointer-events: none;
  transition: all 0.2s ease-out;
}

.textAns {
  position: relative;
  left: 50px;
  width: 90%;
}
